{% extends "network/layout.html" %}

{% block body %}
<script>
    function likesHandler(id, who_you_liked) {
            const btn = document.getElementById(`${id}`);

            btn.classList.remove('fa-thumbs-up')
            btn.classList.remove('fa-thumbs-down')


            if(who_you_liked.indexOf(id) >= 0) {
                var liked = true;


            } else {
                var liked = false;

            }

            if (liked === true) {
                fetch(`/like_remove/${id}`)
                    .then(response => response.json())
                    .then(result => {
                        btn.classList.add('fa-thumbs-up');
                    })
            } else {
                fetch(`/like_add/${id}`)
                .then(response => response.json())
                .then(result => {
                    btn.classList.add('fa-thumbs-down');

                })

            }
            liked = !liked

        }

</script>


    <div>

        <h2 class="title is-2 has-text-link">Following</h2>
        <div class="all">
            {% for post in all_posts_per_page %}
                <div class="all2">
                    <h5 class="title is-5 has-text-primary"><a href="{% url 'profile' user_id=post.user.id %}"> @{{ post.user.username }}</a></h5>
                    <h6 class="title is-6 has-text-success-light">{{ post.content }}</h6>
                    <p class="has-text-link-light">{{ post.timestamp }}</p>

                    {% if post.id and who_you_liked %}
<!--                             who allready liked the post-->
                <button class="btn btn-info fa fa-thumbs-down col-1" onclick="likesHandler({{ post.id }}, {{ who_you_liked }})" id="{{ post.id }}">
                </button>
                    {% else %}
                <button class="btn btn-info fa fa-thumbs-up col-1" onclick="likesHandler({{ post.id }}, {{ who_you_liked }})" id="{{ post.id }}">
                </button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">

          <ul class="pagination-list">
              {% if all_posts_per_page.has_previous %}
                <a href="?page={{ all_posts_per_page.previous_page_number }}" class="pagination-previous">Previous</a>
              {% endif %}
              {% if all_posts_per_page.has_next %}
                <a href="?page={{ all_posts_per_page.next_page_number }}" class="pagination-next">Next page</a>
              {% endif %}
          </ul>
        </nav>

    </div>


{% endblock %}