{% extends "network/layout.html" %}

{% block body %}
    <div class="container has-background-dark">
    <h2 class="title is-2 has-text-link has-text-centered">Login</h2>

    {% if message %}
        <div class="notification is-danger">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="mx-3">
        {% csrf_token %}
        <div class="field">
            <input autofocus class="input" type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
            <input class="input" type="password" name="password" placeholder="Password">
        </div>
        <input class="button is-success" type="submit" value="Login">
    </form>

    <br>
    <label class="has-text-warning">Don't have an account?</label> <a href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}