{% extends "network/layout.html" %}

{% block body %}
  <div class="container has-background-dark">
    <h2 class="title is-2 has-text-link has-text-centered">Register</h2>

    {% if message %}
        <div class="notification is-danger">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <input class="input" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
            <input class="input" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="field">
            <input class="input" type="password" name="password" placeholder="Password">
        </div>
        <div class="field">
            <input class="input" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="button is-success" type="submit" value="Register">
    </form>
<br>
    <label class="has-text-warning">Already have an account?</label> <a href="{% url 'login' %}">Log In here.</a>
    </div>
{% endblock %}